<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dima.liza.mobile.shenkar.com.otsproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="mVB8dry1m6q5ow7Ax9JPYL9TSKZIzYHjbOApES7p" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="uIyYzvWpn8HQ4jOus0g9j8nleQ9sWBhu0NM2LAow" />

        <activity android:name=".activity.SignUpManagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SignInActivity" />
        <activity
            android:name=".activity.AddEmployeeActivity"
            android:label="@string/title_activity_add_employee_activity_nav"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EditTeamActivity"
            android:label="@string/title_activity_edit_team_activity_nav"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddTaskActivity"
            android:label="@string/title_activity_add_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TaskShowActivity"
            android:label="@string/title_activity_task_show"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ShowTaskManagerActivity"
            android:label="@string/title_activity_show_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TaskShowEmployeeActivity"
            android:label="@string/title_activity_task_show_employee"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ReportTaskActivity"
            android:label="@string/title_activity_report_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LocationsActivity"
            android:label="@string/title_activity_locations"
            android:theme="@style/AppTheme.NoActionBar" />
        <service
            android:name=".SynchronizationService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>
